/*** GENERAL ***/
form {
  margin-right: 40px;
}

ul li a {
  margin-right: 3px;
  /*font-size: 82%;*/
}

.btn-s-green {
  background-color: #1FFC00;
  /*justify-content: left;*/
}

.main-col {
  width: 75%;
  display: inline-block;
  float: left;
  border-right: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/***NAVBAR ***/
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #1FFC00;
}

.dropdown-bg:hover {
  background-color: #1FFC00;
}

/*** CONTACT ***/
.contact-notice {
  text-align: center;
  padding: 10px;
  background: #DFF2BF;
  border: 1px solid;
  color: #4F8A10;
  margin-bottom: 10px;
}

form.contact {
  font-size: 16px;
}

form.contact div {
  clear: left;
  margin-bottom: 10px;
}

form.contact label {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 100px;
  font-weight: bold;
  vertical-align: top;
  padding-top: 10px;
}

form.contact input[type="text"],
form.contact input[type="email"] {
  width: 80%;
  line-height: 26px;
  font-size: 20px;
  min-height: 26px;
}

form.contact textarea {
  width: 80%;
  height: 150px;
  line-height: 26px;
  font-size: 20px;
}

form.contact input[type="submit"] {
  margin-left: 12%;
  width: 12%;
  line-height: 26px;
  font-size: 20px;
  min-height: 26px;
}

form.contact ul li {
  color: #ff0000;
  margin-bottom: 5px;
}

/*** SIDEBAR ***/
.sidebar {
  width: 25%;
  padding: 10px;
  display: inline-block;
}

/*** FOOTER ***/
.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}

.copyright span,
 .copyright a {
  color: #878787;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.copyright a:hover {
  color: #1FFC00;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 5px;
  font-size: 78%;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #1FFC00;
  border-color: #1FFC00;
}
