{# src/templates/default/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>Login/Register</h3>
    </header>
<!--| Login/Logout Start-needed |-->
            <ul class="nav navbar-nav navbar-right sb-nav-link">
<!--| Login/Logout End-needed |-->

<!--| Login/Logout Start |-->
         <li class="nav-link pull-right"><a class="nav-item" href="{{ path('wxl_user_registration_register') }}"><i class="fas fa-user-plus"></i> {% trans %}login.register{% endtrans %}</a></li>

         {% if app.user %}
         <li class="nav-link pull-right"><a href="{{ path('wxl_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i>  {% trans %}login.logout{% endtrans %}</a></li>
       {% else %}
         <li class="nav-link pull-right"><a href="{{ path('wxl_user_security_login') }}"><i class="fas fa-sign-in-alt"></i>  {% trans %}login.login{% endtrans %}</a></li>
       {% endif %}

     </ul>
<!--| Login/Logout End |-->
</section>

<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>

        <p>There are no recent comments</p>
</section>

<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">

    </p>
</section>

<section class="section">
    <header>
        <h3>Software Version:</h3>
    </header>
    <p>
        WebAro <font size="-1">v{{ shivas_app_version }}</font>
    </p>
</section>
