{% trans_default_domain 'WXLUserBundle' %}


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("wxl_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="login-container">
            <h1>{{ 'login.title'|trans({}, 'messages') }}</h1><br>
            <form>
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br><br>
                <input type="submit" class="login login-submit btn btn-s-green btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

            </form>
            <div class="login-help">
                <a href="{{ path('wxl_user_registration_register') }}">{{ 'security.register'|trans }}</a> - <a href="{{ path('wxl_user_resetting_request') }}">{{ 'security.forgot.password'|trans }}</a>
            </div>
        </div>
    </form>
