{# src/templates/contact/index.html.twig #}
{% extends 'layout.html.twig' %}


{% block title %}{% trans %}nav.contact{% endtrans %}{% endblock%}

{% block body %}

    <header>
        <h1>{% trans %}nav.contact{% endtrans %}</h1>
    </header>


{% for flashMessage in app.session.flashbag.get('contact-notice') %}
    <div class="blog-notice">
     {   { flashMessage }}
    </div>
{% endfor %}

    <p>{{ 'contact.msg'|trans({}, 'contact') }}</p>


    <form action="{{ path('contact') }}" method="post" class="contact">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <div class="d-grid gap-2 d-md-block">
        <input class="btn btn-s-green" type="submit" value="{{ 'contact.submit'|trans({}, 'contact') }}" />
        </div>
    </form>

{% endblock %}
