<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/master.css') }}">
    {% endblock stylesheets %}

    <title>{% block title %}{{ 'site.title'|trans }}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('images/logos/favicon.png') }}" type="image/png">
  </head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom" aria-label="Eighth navbar example">
       <div class="container">
         <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logos/logo.png') }}" /></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarsExample07">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item active">
               <a class="nav-link" aria-current="page" href="{{ path('home') }}">{{ 'nav.home'|trans }}</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ path('about') }}">{{ 'nav.about'|trans }}</a>
             </li>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
               <ul class="dropdown-menu" aria-labelledby="dropdown07">
                 <li><a class="dropdown-item dropdown-bg" href="#">Action</a></li>
                 <li><a class="dropdown-item dropdown-bg" href="#">Another action</a></li>
                 <li><a class="dropdown-item dropdown-bg" href="#">Something else here</a></li>
               </ul>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ path('contact') }}" tabindex="-1">{{ 'nav.contact'|trans }}</a>
             </li>
           </ul>
           <form class="col-6 float-left">
             <input class="form-control" type="text" placeholder="Search" aria-label="Search">
           </form>
           <li class="nav-item" style="list-style: none;">
             <a class="nav-link" href="{{ path('english') }}" tabindex="-1"><img src="{{ asset('images/flags/us.png') }}"></a>
           </li>
           <li class="nav-item" style="list-style: none;">
             <a class="nav-link" href="{{ path('german') }}" tabindex="-1" aria-disabled="true"><img src="{{ asset('images/flags/de.png') }}"></a>
           </li>
         </div>
       </div>
     </nav>
    {% endblock nav %}

<div class="container">
  <section class="main-col">
    {% block body %}
    <h1>Hello, world!</h1>

    {% endblock body %}
  </section>

    <aside class="wrapper sidebar">
        {% block sidebar %}

        {% endblock %}
    </aside>
</div>
    {% block footer %}
    <footer class="fixed-bottom">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>&copy 2020-{{ "now" | date("Y") }} JMColeman. All rights reserved. <br / />Powered by WebAro {{ shivas_app_version }}</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu" >
                            <ul>
                                <li>
                                    <a href="{{ path('terms')}}">{{ 'legal.terms'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('trademarks')}}">{{ 'legal.trademarks'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('disclaimer')}}">{{ 'legal.disclaimer'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('privacy-policy')}}">{{ 'legal.privacy'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('imprint')}}">{{ 'legal.imprint'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
        <!-- End Back to top -->
</footer>
{% endblock footer %}

    {% block javascripts %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- jQuery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!-- FontAwesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="{{ asset('js/master.js') }}"></script>
    {% endblock javascripts %}
  </body>
</html>
